p{


    color: black;
    font-weight: ;
    font-size:medium;
}

#purple_paragraph {color:purple}
#Key_Functions {color: purple}

.love{color:black;border-color: yellowgreen;border-style: dotted;}

        body {
            font-family: Arial, sans-serif;
            margin: 0px;
            padding: 0;
        }

        nav {
            background-color: #333;
            padding: 20px;
            
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        nav li {
            display: inline;
            margin-right: 20px;
        }

        nav li a {
            color: white;
            text-decoration: none;
        }

        header, section, .image-container {
            max-width: 1200px;
            margin: 20px Auto;
        }

        h1, h2 {
            color: #333;
        }

        .image-container {
            display: flex;
            justify-content: space-between;
        }

        .image-container img {
            max-width: 30%;
        }

        a {
            color: #007BFF;
        }
    